# CODEOWNERS: verified reviewers for this repository.
# Docs: https://docs.github.com/articles/about-code-owners
*  @ministryofjustice/cloud-platform-engineers @ministryofjustice/container-platform-aws
